.page {
  width: 100%;
  max-width: 120rem;
  height: auto;
  margin: 0 auto;

  margin-top: 1rem;

  background-color: whitesmoke;

  border-radius: 0.9rem;
}

.message {
  width: 100%;

  padding: 2rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.message p {
  font-size: 1.6rem;
  font-weight: 400;

  padding: 2rem 0;

  background-color: var(--color-grey);
  text-align: center;
}

.url {
  font-size: 1.8rem;
  font-weight: bold;

  padding: 0 0.5rem;

  color: var(--color-pri-l-2);
}

.message button {
  width: 20%;
  margin: 0 auto;
  padding: 1rem;

  text-transform: uppercase;
  font-size: 1.4rem;
  /* font-weight: bold; */

  cursor: pointer;

  color: var(--color-wht);
  background-color: var(--color-pri-l-2);

  border: none;
  outline: none;
  border-radius: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  box-shadow: var(--shadow-1);

  animation-name: moveRightAndLeft;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* transition: all .1s linear; */
}

@keyframes moveRightAndLeft {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.message button:hover {
  transform: translateY(-1px);

  color: var(--color-wht);
  background-color: var(--color-pri-l-1);

  animation-play-state: paused;
}

.message button:focus {
  transform: translateY(0px);
}

.icon {
  transition: all 0.2s linear;
}

.message button:hover .icon {
  transform: translateX(-2px);
}
