.header {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 1rem 2rem;

  background-color: var(--color-backGr);

  font-size: 2rem;
  font-weight: 500;

  border-radius: 0.5rem;
}

.header nav ul {
  list-style: none;
  color: var(--color-pri);

  display: flex;
  align-items: center;
  gap: 2rem;
}

.header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  color: inherit;
}

.header nav ul li:nth-child(1) {
  font-weight: bold;
}

.header nav ul li:not(.header nav ul li:nth-child(1)) {
  cursor: pointer;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
}

.header nav ul li:nth-child(n + 2):not(:last-child):hover {
  background-color: var(--color-grey-l-2);
}

.header nav ul li:not(:first-child):hover .icon {
  color: var(--color-pri-d-1);
}

.header nav ul li:nth-child(2) {
  margin-left: auto;
}

.header nav ul li:last-child {
  background-color: var(--color-grey-l-2);

  padding: 1rem 2rem;
  border-radius: 0.9rem;

  transition: all 0.2s linear;
}

.header nav ul li:last-child:hover {
  background-color: var(--color-grey-l-1);
}

/* Ques: Why I used this "a" for styling the "Link" to center elements?! */

.header nav ul li a {
  color: var(--color-pri);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
