.page {
  width: 100%;
  max-width: 120rem;
  height: 80vh;
  margin: 0 auto;

  margin-top: 2rem;
  border-radius: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-backGr);
}

.card {
  width: 60%;
  margin: 0 auto;

  padding: 2rem;
  border-radius: 0.9rem;

  box-shadow: var(--shadow-3);

  background-color: var(--color-backGr-d-3);

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.card header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card header h3,
.card header h2,
.card .para p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconPara {
  margin-bottom: auto;
}

.card .para {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.icon,
.iconPara {
  width: 2rem;
}

.card header h2 {
  font-size: 2rem;
}

.card header h3 {
  font-size: 1.6rem;
}

.para p {
  font-size: 1.4rem;

  margin-top: 2rem;
  padding-top: 1rem;

  position: relative;
}

.para p::before {
  content: "";

  width: 100%;
  height: 1px;

  position: absolute;
  left: 0;
  top: 0;

  background-color: var(--color-backGr-d-1);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-top: 3rem;
}

.card .para .btns button {
  /* width: 40%; */
  padding: 1rem 2rem;

  font-size: 1.2rem;

  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  /* background-color: var(--color-pri-l-2); */
  color: var(--color-wht);
  border: none;

  cursor: pointer;
  text-transform: uppercase;

  transition: all 0.2s linear;
}

.card .para .btns button:hover {
  transform: translateY(-1px);
  /* background-color: var(--color-pri-l-1); */

  box-shadow: var(--shadow-3);
}

.btns button:first-child {
  background-color: var(--color-pri);
}

.btns button:last-child {
  background-color: var(--color-grey-d-2);
}
