/* Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  /* Colors: */
  --color-pri: #dc0000;
  --color-pri-d-1: #b00000;
  --color-pri-d-2: #9a0000;
  --color-pri-l-1: #e33333;
  --color-pri-l-2: #ea6666;

  --color-sec: #ffdb89;
  --color-sec-d-1: #e6c57b;
  --color-sec-d-2: #b39960;
  --color-sec-l-1: #ffdf95;
  --color-sec-d-2: #ffe6ac;

  --color-grey: #ddd;
  --color-grey-d-1: #c7c7c7;
  --color-grey-d-2: #9b9b9b;
  --color-grey-l-1: #e0e0e0;
  --color-grey-l-2: #e7e7e7;

  --color-blk: #252525;
  --color-wht: #fff;

  --color-backGr: whitesmoke;
}

body {
  font-family: "Lato", sans-serif;
}
